<%- include('./../components/header',siteInfo); %>
  <body>
    <%- include('./../components/navbar',siteInfo); %> 
    <section  style="padding-top:30px;">
      <div class="row" >
    <div class="col-lg-1 col-md-1 col-sm-1" > </div> 
    <div class="col-lg-7 col-md-7 col-sm-7" >
   <div class="row" >
        <div class="col-lg-1 col-md-1 col-sm-1" > </div> 
  <div class="col-lg-10 col-md-10 col-sm-10" >
     <p class="orange_plus" style="
     font-size: 16px;">ABOUT US</p>
      <p class="tx1" style="
      line-height: 46px;
     font-weight:700;
     font-size:40px;">Sollicitudin in imperdiet nulla augue amet curabitur pretium. Diam sociis purus turpis mus aliquam<span class="orange_plus">.</span></p>
    <p class="tx2" style="font-size:16px" >Et sed ultricies lzn viverra bibendum rhoncus. Morbi aliquam eu morbi in fermentum, viverra. Augue nullam at faucibus duis sit nisl convallis. Feugiat orci consectetur velit porttitor pulvinar in.</p>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1" > </div> 
</div>
  
  
</div>
<div class="col-lg-3 col-md-3 col-sm-3" ></div>
  <div class="col-lg-1 col-md-1 col-sm-1" > </div> 
    </div>

    <div class="row" >
      <div class="col-lg-2 col-md-1 col-sm-2" > </div> 
    <div class="col-lg-8 center">
      <div class="row center">
      <div class="col-lg-4 center">
      <img src="images/slate1.png" style="width:90%;
      height: 544px;object-fit: contain;" 
      
      />
    </div>
    <div class="col-lg-4 center">
      <img src="images/slate2.png" style="width:90%;
      height: 616px;object-fit: contain;" 
      
      />
    </div>
    <div class="col-lg-4 center">
      <img src="images/slate3.png" style="width:90%;
      height: 719px;object-fit: contain;" 
      
      />
    </div>
    </div>
  
  </div>
  <div class="col-lg-2 col-md-2 col-sm-2" > </div> 
  </div>
  <div class="row" style="margin-bottom:40px;">
    <div class="col-lg-1 col-md-1 col-sm-1" > </div> 
    <div class="col-lg-7 col-md-7 col-sm-7" >
   <div class="row" >
        <div class="col-lg-1 col-md-1 col-sm-1" > </div> 
  <div class="col-lg-10 col-md-10 col-sm-10" >
     <p class="orange_plus" style="
     font-size: 16px;">OUR MISSION</p>
      <p class="tx1" style="
      line-height: 46px;
     font-weight:700;
     font-size:40px;">Imperdiet nulla augue amet curabitur.<span class="orange_plus">.</span></p>
    <p class="tx2" style="font-size:16px" >Et sed ultricies lzn viverra bibendum rhoncus. Morbi aliquam eu morbi in fermentum, viverra. Augue nullam at faucibus duis sit nisl convallis. Feugiat orci consectetur velit porttitor pulvinar in.</p>
  </div>
  <div class="col-lg-1 col-md-1 col-sm-1" > </div> 
</div>
  
  
</div>
<div class="col-lg-3 col-md-3 col-sm-3" ></div>
  <div class="col-lg-1 col-md-1 col-sm-1" > </div> 
    </div>
    <div class="row" >
      <div class="col-lg-1 col-md-1 col-sm-1" > </div> 
      <div class="col-lg-7 col-md-7 col-sm-7" >
     <div class="row" >
          <div class="col-lg-1 col-md-1 col-sm-1" > </div> 
    <div class="col-lg-10 col-md-10 col-sm-10" >
       <p class="orange_plus" style="
       font-size: 16px;">OUR VISION</p>
        <p class="tx1" style="
        line-height: 46px;
       font-weight:700;
       font-size:40px;">Imperdiet nulla augue amet curabitur.<span class="orange_plus">.</span></p>
      <p class="tx2" style="font-size:16px" >Et sed ultricies lzn viverra bibendum rhoncus. Morbi aliquam eu morbi in fermentum, viverra. Augue nullam at faucibus duis sit nisl convallis. Feugiat orci consectetur velit porttitor pulvinar in.</p>
    </div>
    <div class="col-lg-1 col-md-1 col-sm-1" > </div> 
  </div>
    
    
  </div>
  <div class="col-lg-3 col-md-3 col-sm-3" ></div>
    <div class="col-lg-1 col-md-1 col-sm-1" > </div> 
      </div>
      <%- include('./team',siteInfo); %> 
     </section>
     <section class="center" style="min-height:120px;padding:30px;">
      <div class="orange_plus" style="text-align:center;font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 150%;">OUR LOCATIONS</div>
      <p>Et sed ultricies lzn viverra bibendum rhoncus. Morbi aliquam eu morbi in fermentum, viverra. Augue nullam at faucibus duis s.</p>
       <div class="row" style="justify-content: center;
       align-items: center;
       display: inline-flex;">
        <img src="images/map.png"
        style="width: 100%;height: 100%;object-fit: contain;"

          />
       </div>
      </section>
      <%- include('../home_screens/nineSection',siteInfo); %> 
      <%- include('./../components/footer',siteInfo); %> 
  </body>