<%- include('./components/header',siteInfo); %>
  <body>
    <%- include('./components/navbar',siteInfo); %>  
    <%- include('./home_screens/firstSection',siteInfo); %> 
    <%- include('./home_screens/trustedSection',siteInfo); %> 
    <%- include('./home_screens/propery_category',siteInfo); %> 
    <%- include('./home_screens/secondSection',siteInfo); %> 
    <%- include('./home_screens/thirdSection',siteInfo); %> 
    <%- include('./home_screens/fourthSection',siteInfo); %> 
    <%- include('./home_screens/fifthSection',siteInfo); %> 
    <%- include('./home_screens/sixthSection',siteInfo); %> 
    <%- include('./home_screens/seventhSection',siteInfo); %> 
    <%- include('./home_screens/eighthSection',siteInfo); %> 
    <%- include('./home_screens/nineSection',siteInfo); %> 
    <%- include('./components/footer',siteInfo); %> 
  </body>
  
</html>
